<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <p class="nav-text">Overview</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <p class="nav-text">New Exercise</p>
            </NavLink>
        </div>
    </nav>
</div>

