.nav-item {
    font-size: 0.8rem;
    height: 9vh;
    background-color: gray;
    width: 100%;
    align-content: center !important;
    align-items: center !important;
    margin: 2px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    align-content: center !important;
    align-items: center !important;
}

.nav-item:active {
    background-color: black;
}


.nav-text {

    color: white;
    font-weight: bold;

}


.flex-column {
    height: fit-content !important;
}